*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background: #011638;
    color: #E8C1C5;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



main{
    border: red 1px solid;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    background: #9055A2;
}